<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:sws="http://www.springframework.org/schema/web-services"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
        http://www.springframework.org/schema/web-services http://www.springframework.org/schema/web-services/web-services-2.0.xsd">

<!-- Not required anymore..with the Spring-ws based annotations 
	<bean id="payloadMapping"
		class="org.springframework.ws.server.endpoint.mapping.PayloadRootQNameEndpointMapping">
		<property name="endpointMap">
			<map>
				<entry key="{http://bk.org/memberservice/}MemberDetailsRequest"
					value-ref="getMemberDetailsEndpoint" />
			</map>
		</property>
	</bean>

	<bean id="getMemberDetailsEndpoint" class="org.bk.memberservice.endpoint.GetMemberDetailsEndpoint">
		<property name="marshaller" ref="marshaller" />
		<property name="unmarshaller" ref="unmarshaller" />
		<property name="memberManager" ref="memberManager" />
	</bean>

 -->
 	<import resource="applicationContext-oxm.xml"/>
	<context:component-scan base-package="org.bk.memberservice"/>

  	<sws:annotation-driven marshaller="jaxbMarshaller" unmarshaller="jaxbUnMarshaller"/>
  	
	

	<sws:static-wsdl id="MemberDetailsRequest" location="classpath:/memberservice.wsdl"/>



</beans>